<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class=" container text-center ">

  <nav class="topsize navbar">
    <span class="text-white navbar-brand mb-0 h1">Formulario Scrum</span>
  </nav>

  <h1 class="mb-4 text-white">Fromulario de Scrum</h1>

  <img class="mb-5" style="width: 500px;" src="../assets/images/team.png"/>

</div>

<!--Here is the form container-->
<div class=" container ">

<!--First container-->
<div class="card mb-5">

  <form class="m-3">

    <div class="row mb-3">

      <div class="col-6">
        <label for="email" class="form-label">Nombre completo</label>
        <input type="text" class="form-control" id="name" placeholder="nombre completo">
      </div> 

      <div class="col-6">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="email" placeholder="nombre@unicomfacauca.edu.co">
      </div>  

    </div>

  
      <div class="row mb-3">

        <div class="col-6">
  
          <label class="mb-2" for="whscrum">¿Qué es Scrum?</label>
          <select class="form-select mb-3" id="whscrum">
            <option selected disabled>Seleccione su respuesta</option>
            <option value="1">Una metodología ágil que tiene como base la creación de ciclos</option>
            <option value="2">Marco de diseño de proyectos de metodología kanban que ayuda a los equipos a estructurar y gestionar el trabajo</option>
            <option value="3">Una metodología basada en el diagrama de Grantt</option>
            <option value="4">Una metodología enfocada en el trabajo de roles enfocada en el método de cadena crítica</option>
          </select>
  
          <label class="mb-2" for="noben">¿Cuál de los siguientes <strong>NO</strong> es un beneficio de Scrum?</label>
          <select class="form-select" id="noben" >
            <option selected disabled>Seleccione su respuesta</option>
            <option value="1">Equipos altamente productivos</option>
            <option value="2">Predictibilidad</option>
            <option value="3">Es fácil de implementar</option>
            <option value="4">Es recomendado para equipos sin experiencia</option>
          </select>
  
        </div>


        <div class="col">
  
          <label class="mb-2" for="nobentwo">¿Cuál de los siguientes <strong>NO</strong> es un beneficio de Scrum?</label>
          <select class="form-select mb-3" id="nobentwo">
            <option selected disabled>Seleccione su respuesta</option>
            <option value="1">Claridad en los objetivos y alcances</option>
            <option value="2">Flexibilidad</option>
            <option value="3">Mayor control de imprevistos</option>
            <option value="4">No hay que conocerlo previamente para usarlo</option>
          </select>
  
          <label class="mb-2" for="durat">¿Cuál es la duración preestablecida de cada sprint?</label>
          <select class="form-select" id="durat">
            <option selected disabled>Seleccione su respuesta</option>
            <option value="1">3 a 4 semanas</option>
            <option value="2">3 a 4 días</option>
            <option value="3">1 días</option>
            <option value="4">2 a 4 semanas</option>
          </select>

        </div>


      </div>


    </form>

</div>

<!--Second container-->
<div class="card mb-5">

  <form class="m-3">

    <label for="rad1">¿Qué es un product backlog?</label>
    <div class="mt-3" id="rad1">

      <div class="form-check mb-3">
        <input name="tadopt1" class="form-check-input mx-2" type="radio" id="opt1" value="option1">
        <label>Es una reunión que se realiza al comienzo de cada Sprint</label>
      </div>

      <div class="form-check mb-3">
        <input name="tadopt1" class="form-check-input mx-2" type="radio" id="opt1" value="option1">
        <label>Se refiere a una lista priorizada de funcionalidades que debe contener un producto</label>
      </div>

      <div class="form-check mb-3">
        <input name="tadopt1" class="form-check-input mx-2" type="radio" id="opt1" value="option1">
        <label>Es un período breve de tiempo fijo en el que un equipo de scrum trabaja para completar una cantidad de trabajo establecida</label>
      </div>

      <div class="form-check">
        <input name="tadopt1" class="form-check-input mx-2" type="radio" id="opt1" value="option1">
        <label>Se realiza en la mañana todos los días, a fin de definir el contexto para el resto del día de trabajo</label>
      </div>

    </div>

  </form>

  <form class="m-3">

    <label for="rad2">¿Qué es el sprint planning?</label>
    <div class="mt-3" id="rad2">

      <div class="form-check mb-3">
        <input name="radopt2" class="form-check-input mx-2" type="radio" id="opt1" value="option2">
        <label>Es una reunión que se realiza al comienzo de cada Sprint, donde participa el equipo Scrum al completo</label>
      </div>

      <div class="form-check mb-3">
        <input name="radopt2" class="form-check-input mx-2" type="radio" id="opt1" value="option2">
        <label>Se refiere a una lista priorizada de funcionalidades que debe contener un producto</label>
      </div>

      <div class="form-check mb-3">
        <input name="radopt2" class="form-check-input mx-2" type="radio" id="opt1" value="option2">
        <label>Es un período breve de tiempo fijo en el que un equipo de scrum trabaja para completar una cantidad de trabajo establecida</label>
      </div>

      <div class="form-check">
        <input name="radopt2" class="form-check-input mx-2" type="radio" id="opt1" value="option2">
        <label>Se realiza en la mañana todos los días, a fin de definir el contexto para el resto del día de trabajo</label>
      </div>

    </div>

  </form>

</div>

<!--Third container-->
  <div class="card mb-5">

    <form class="m-3">
  
      <label for="rad1">¿Qué es el Daily Sprint meeting?</label>
      <div class="mt-3" id="rad1">
  
        <div class="form-check mb-3">
          <input name="tadopt1" class="form-check-input mx-2" type="radio" id="opt1" value="option1">
          <label>Es una reunión que se realiza al comienzo de cada Sprint, donde participa el equipo Scrum al completo</label>
        </div>
  
        <div class="form-check mb-3">
          <input name="tadopt1" class="form-check-input mx-2" type="radio" id="opt1" value="option1">
          <label>Se realiza en la mañana todos los días, a fin de definir el contexto para el resto del día de trabajo</label>
        </div>
  
        <div class="form-check mb-3">
          <input name="tadopt1" class="form-check-input mx-2" type="radio" id="opt1" value="option1">
          <label>Es un período breve de tiempo fijo en el que un equipo de scrum trabaja para completar una cantidad de trabajo establecida</label>
        </div>
  
        <div class="form-check">
          <input name="tadopt1" class="form-check-input mx-2" type="radio" id="opt1" value="option1">
          <label>Se refiere a una lista priorizada de funcionalidades que debe contener un producto</label>
        </div>
  
      </div>
  
    </form>
  
    <form class="m-3">
  
      <label for="rad2">¿Qué es Demo y retrospectiva?</label>
      <div class="mt-3" id="rad2">
  
        <div class="form-check mb-3">
          <input name="radopt2" class="form-check-input mx-2" type="radio" id="opt1" value="option2">
          <label>Es una reunión que se realiza al comienzo de cada Sprint, donde participa el equipo Scrum al completo</label>
        </div>
  
        <div class="form-check mb-3">
          <input name="radopt2" class="form-check-input mx-2" type="radio" id="opt1" value="option2">
          <label>Se refiere a una lista priorizada de funcionalidades que debe contener un producto</label>
        </div>
  
        <div class="form-check mb-3">
          <input name="radopt2" class="form-check-input mx-2" type="radio" id="opt1" value="option2">
          <label>Es una reunión interna en la que solo participa el equipo de Scrum. Es facilitada por el Scrum Master y el cliente no está presente</label>
        </div>
  
        <div class="form-check">
          <input name="radopt2" class="form-check-input mx-2" type="radio" id="opt1" value="option2">
          <label>Es un período breve de tiempo fijo en el que un equipo de scrum trabaja para completar una cantidad de trabajo establecida</label>
        </div>
  
      </div>
  
    </form>
  
  </div>


<!--fourth container-->
  <div class="card mb-5">

    <form class="m-3">
  
      <label for="rad1">¿Qué características tiene un Scrum Master?
      </label>
      <div class="mt-3" id="rad1">
  
        <div class="form-check mb-3">
          <label><strong>A. </strong> Liderazgo</label>
        </div>
  
        <div class="form-check mb-3">
          <label><strong>B. </strong>Está a cargo de establecer la metodología Scrum</label>
        </div>
  
        <div class="form-check mb-3">
          <label><strong>C. </strong>Mantener a los miembros del equipo enfocados en los principios</label>
        </div>
  
        <div class="form-check mb-3">
          <label><strong>D. </strong>Es un pequeño equipo de personas</label>
        </div>
  
        <div class="form-check">
          <label><strong>E. </strong>Es la voz del cliente</label>
        </div>

      </div>
      
      <div class="row col-4 mx-4 mt-3">
        <select class="form-select" id="noben" >
          <option selected disabled>Seleccione su respuesta</option>
          <option value="1">A y B</option>
          <option value="2">A</option>
          <option value="3">E y D</option>
          <option value="4">A, B y C</option>
        </select>
      </div>
     
  
    </form>
  
    <form class="m-3">
  
      <label for="rad1">¿Qué características tiene un Product Owner?
      </label>
      <div class="mt-3" id="rad1">
  
        <div class="form-check mb-3">
          <label><strong>A. </strong> Visión estratégica</label>
        </div>
  
        <div class="form-check mb-3">
          <label><strong>B. </strong>Toma de decisiones y priorización de funcionalidades</label>
        </div>
  
        <div class="form-check mb-3">
          <label><strong>C. </strong>Mantener la comunicación con los interesados y el equipo de desarrollo</label>
        </div>
  
        <div class="form-check mb-3">
          <label><strong>D. </strong>Es un pequeño equipo de personas</label>
        </div>
  
        <div class="form-check">
          <label><strong>E. </strong>Es la voz del cliente</label>
        </div>

      </div>
      
      <div class="row col-4 mx-4 mt-3">
        <select class="form-select" id="noben" >
          <option selected disabled>Seleccione su respuesta</option>
          <option value="1">A y B</option>
          <option value="2">A</option>
          <option value="3">E y D</option>
          <option value="4">A, B y C</option>
        </select>
      </div>
     
  
    </form>
  
  </div>

</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
