/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    background: linear-gradient(to right, #0287e5, #1bd2fe) !important; 
}
topsize{
    background: linear-gradient(to right, #0287e5, #1bd2fe) !important; 
}
.formbg{
    background-color: white;
}
